@model TestCrud.Models.TAlquiler

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>TAlquiler</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            Usuario
        </dt>
        <dd class="col-sm-10">
            <p>@Html.DisplayFor(model => model.CodUsuarioNavigation.TxtUser)|@Html.DisplayFor(model => model.CodUsuarioNavigation.TxtNombre) @Html.DisplayFor(model => model.CodUsuarioNavigation.TxtApellido)</p>
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Cod. Película
            </th>
            <th>
                Película
            </th>
            <th>
                Precio
            </th>
            <th>
                Fecha Devolución
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TdetalleAlquiler)
        {
        <tr>
            <td>
                @item.CodPelicula
            </td>
            <td>
                @item.CodPeliculaNavigation.TxtDesc
            </td>
            <td>
                @item.Precio
            </td>

            @if (@item.FechaDevolucion is null)
            {
                <td>
                    No devuelto
                </td>
                <td>
                    <a asp-action="DevolverPelicula" asp-route-codPelicula="@item.CodPelicula" asp-route-codAlquiler="@item.CodAlquiler" asp-route-codDetalleAlquiler="@item.CodDetalleAlquiler">Devolver Película</a> 
                </td>
            }
            else
            {
                <td>
                   @item.FechaDevolucion
                </td>
                <td>
                    
                </td>
            }
        </tr>
        }

    </tbody>
</table>
<div>
    <a asp-action="Index">regresar</a>
</div>
