@model IEnumerable<TestCrud.Models.TAlquiler>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Alquilar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Usuario| Nombre Apellido
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodUsuarioNavigation.TxtUser)|@Html.DisplayFor(modelItem => item.CodUsuarioNavigation.TxtNombre) @Html.DisplayFor(modelItem => item.CodUsuarioNavigation.TxtApellido)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CodAlquiler">Detalles</a> |
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CodAlquiler">Devolver</a> |
            </td>
        </tr>
        }
    </tbody>
</table>


