@model TestCrud.Models.TPelicula
@{
    ViewBag.Title = "AsignarGenero";
}

<h3>@Html.DisplayFor(model => model.TxtDesc)- Géneros ya asignados:</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.CodPelicula)


    <ul>
        @foreach (var item in Model.TGeneroPelicula)
        {
            <li>@item.CodGeneroNavigation.TxtDesc</li>
        }
    </ul>


    <h3>Cargar más generos</h3>
    <div class="col-md-10">
        @Html.DropDownList("CodGenero", null, htmlAttributes: new { @class = "form-control", Name = "CodGenero" })
    </div>
    <p class="text-danger">@ViewData["error"]</p>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cargar" class="btn btn-default" />
        </div>
    </div>

}


<div>
    @Html.ActionLink("Regresar", "Index")
</div>
