@model TestCrud.Models.TPelicula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TPelicula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Película
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxtDesc)
        </dd>
        <dt class = "col-sm-2">
            Cantidad Disponible Alquiler
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantDisponiblesAlquiler)
        </dd>
        <dt class="col-sm-2">
            Cantidad Disponible Venta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantDisponiblesVenta)
        </dd>
        <dt class = "col-sm-2">
            Precio Alquiler
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioAlquiler)
        </dd>
        <dt class = "col-sm-2">
            Precio Venta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodPelicula">Edit</a> |
    <a asp-action="Index">Regresar</a>
</div>
