@model IEnumerable<TestCrud.Models.TPelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Película
            </th>
            <th>
               Cantidad Disponible Alquiler
            </th>
            <th>
                Cantidad Disponible Venta
            </th>
            <th>
               Precio Alquiler
            </th>
            <th>
              Precio Venta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TxtDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantDisponiblesAlquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantDisponiblesVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioAlquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodPelicula">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.CodPelicula">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CodPelicula">Borrar</a> |
                @Html.ActionLink("Asignar Género", "AsignarGenero", new { id = item.CodPelicula })
            </td>
        </tr>
}
    </tbody>
</table>
