@model IEnumerable<TestCrud.Models.TPelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TxtDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantDisponiblesAlquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantDisponiblesVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioAlquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TxtDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantDisponiblesAlquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantDisponiblesVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioAlquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodPelicula">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodPelicula">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodPelicula">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
