@model IEnumerable<TestCrud.Models.TUsers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Usuario
            </th>
            <th>
               Nombre
            </th>
            <th>
               Apellido
            </th>
            <th>
               Nro. Documento
            </th>
            <th>
               Activo
            </th>
            <th>
               Rol
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TxtUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TxtNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TxtApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroDoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SnActivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodRolNavigation.TxtDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodUsuario">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CodUsuario">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CodUsuario">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
