@model TestCrud.Models.TVenta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TVenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            Usuario-Cliente
        </dt>
        <dd class = "col-sm-10">
            <p> @Html.DisplayFor(model => model.CodUsuarioNavigation.TxtUser)|@Html.DisplayFor(model => model.CodUsuarioNavigation.TxtNombre) @Html.DisplayFor(model => model.CodUsuarioNavigation.TxtApellido)</p>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
